<html>
    <head>
        <title>Isaac's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Isaac's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>There's alot to developing websites! Very challenging but fun to learn.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Someday I'll be developing websites professionally! Probably 2 years from now but BRING IT ON!!!</p>
        </div>
    </body>
</html>