
h1 {
    color: red;
	font-size: 400%;

}
.title_link {
    color: red;

}

.page-header {
    background-color: black;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
	color: red;
    position: static;
}
body {
	padding-left: 20px;
	padding-right:20px;
	font-family: 'PT Sans', sans-serif;
	/*background-color: silver;*/
    background-image: url('images/blue_tech.jpg');
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    /*background-size: 1280px 800px;*/




}
.post{

	color: black;
	margin-left: auto;
    margin-right: auto;
    width: 20em;

}
.post_header{
    color: red;
}

ul {
    list-style-type: none;
    margin-left: 65%;
    position: relative;
    bottom: 13px;
}

li {
    float: left;
}

li a { /*spaces the navigation links*/
    display: block;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigation{


}
.nav1{ /* these navs are to change color of navigation links to red */
    color: red;
}
.nav2{
    color: red;
}
.nav3{
    color: red;
}
.nav4{
    color: red;
}